{% extends'base.html.twig' %}

{% block body %}

    <div class="container hauteurMin">
        <h1>Inscription</h1>
        <button class="btn btn-warning">
            <a href="{{ path('app_admin_equipe_index') }}">
                Retour
            </a>

        </button>

        {{ form_start(form) }}
        {{ form_row(form.nom) }}
        {{ form_row(form.prenom) }}
        {{ form_row(form.email) }}
        {{ form_row(form.plainPassword) }}
        {{ form_row(form.statut) }}
        <div class="text-right">

            <button type="submit" class="btn btn-primary">
                Enregistrer
            </button>

        </div>
        {{ form_end(form) }}

    </div>
{% endblock %}



