{% extends'base.html.twig' %}

{% block body %}
    <div class="container hauteurMin">


    <h1 class="mt-5">Inscription</h1>

    <a class="btn btn-outline-info my-2" href="{{ path('app_security_index') }}">
        Retour
    </a>

    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-6">
         {{ form_row(form.nom) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.prenom) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            {{ form_row(form.email) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            {{ form_row(form.plainPassword) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
        {{ form_row(form.statut) }}
        </div>
    </div>

        <div class="text-right">
        <button type="submit" class="btn btn-outline-info my-3">
            Enregistrer
        </button>
    </div>
    {{ form_end(form) }}
    </div>
{% endblock %}



