{% extends 'base.html.twig' %}

{% block title %}Derviche Diffusion | Nos Spectacles{% endblock %}

{% block stylesheets %}
        {{ parent() }}

        <link rel="stylesheet" href="{{ asset('lib/Glider.js-master/glider.css') }}">
        <link rel="stylesheet" href="{{ asset('css/spectacle.css') }}">

{% endblock %}

{% block body %}

<div class="container hauteurMin">
        <h2 class="mt-5">Nos Spectacles</h2>



        <a href="{{ path('app_spectacle_searchspectacle') }}" class="btn btn-outline-info btn-flitre mt-4">Filtrer</a>


        <div id="all-spectacle">


{% for categorie in categorieMoliere %}
                        {% if categorie.spectacles is not empty %}
                                <!----------Musique glider4------------------------------------------------------->
                                <div class="spectacle mt-5">
                                        <h3 class="mb-4 text-secondary">{{ categorie }}</h3>
                                        <div data-name="" class="glider-contain multiple">
                                                <div class="glider glider4" id="">


                                                        {% for spectacle in categorie.spectacles %}
                                                                <div class="box-glider">
                                                                        <div class="gradient-border-bottom">
                                                                                <div class="gradient-border">
                                                                                        <a href="{{ path('app_spectacle_singlespectacle', {'id' : spectacle.id }) }}" class="box-glider-a">
                                                                                                <img class="img-container box-glider-img img-fluid" src="{{ asset('images/spectacles/'~ spectacle.image1) }}" alt="">
                                                                                                <h6 class="titre-bloc-spectacle">{{ spectacle.titre }}</h6>
                                                                                                <p>{{ spectacle.nomCie }}</p>
                                                                                        </a>
                                                                                </div>
                                                                        </div>
                                                                </div>
                                                        {% endfor %}
                                                </div>

                                                <button role="button" aria-label="Previous" class="glider-prev" id=""><i class="fa fa-chevron-left"></i></button>
                                                <button role="button" aria-label="Next" class="glider-next" id=""><i class="fa fa-chevron-right"></i></button>
                                                <div class="dots glider-dots"></div>

                                        </div>
                                </div>
                        {% endif %}

                {% endfor %}


{% if jeunePublic is not empty %}
                        <!----------Jeune public glider6------------------------------------------------------->

                        <div class="spectacle persp mt-5">
                                <h3 class="mb-4 text-secondary">Jeune Public</h3>
                                <div data-name="Perspective View" class="glider-contain multiple">
                                        <div class="glider glider-persp glider6" id="">


                                                {% for spectacle in jeunePublic %}
                                                        <div class="box-glider">
                                                                <div class="gradient-border-bottom">
                                                                        <div class="gradient-border">
                                                                                <a href="{{ path('app_spectacle_singlespectacle', {'id' : spectacle.id }) }}" class="box-glider-a">
                                                                                        <img class="img-container img-fluid" src="{{ asset('images/spectacles/'~ spectacle.image1) }}" alt="">
                                                                                        <h6 class="titre-bloc-spectacle">{{ spectacle.titre }}</h6>
                                                                                        <p>{{ spectacle.titre }}</p>
                                                                                </a>
                                                                        </div>
                                                                </div>
                                                        </div>
                                                {% endfor %}
                                        </div>

                                        <button role="button" aria-label="Previous" class="glider-prev" id=""><i class="fa fa-chevron-left"></i></button>
                                        <button role="button" aria-label="Next" class="glider-next" id=""><i class="fa fa-chevron-right"></i></button>
                                        <div class="dots glider-dots"></div>

                                </div>
                        </div>

                {% endif %}


{% for categorie in categoriesTheatre %}
        {% if categorie.spectacles is not empty %}
        <!----------theatre glider1------------------------------------------------------->
        <div class="spectacle mt-5">
                <h3 class="mb-4 text-secondary">{{ categorie }}</h3>
                <div data-name="" class="glider-contain multiple">
                        <div class="glider glider1" id="">


                                {% for spectacle in categorie.spectacles %}
                                        <div class="box-glider">
                                                <div class="gradient-border-bottom">
                                                        <div class="gradient-border">
                                                                <a href="{{ path('app_spectacle_singlespectacle', {'id' : spectacle.id }) }}" class="box-glider-a">
                                                                        <img class="img-container box-glider-img img-fluid" src="{{ asset('images/spectacles/'~ spectacle.image1) }}" alt="">
                                                                        <h6 class="titre-bloc-spectacle">{{ spectacle.titre }}</h6>
                                                                        <p>{{ spectacle.nomCie }}</p>
                                                                </a>
                                                        </div>
                                                </div>
                                        </div>
                                {% endfor %}


                        </div>

                        <button role="button" aria-label="Previous" class="glider-prev" id=""><i class="fa fa-chevron-left"></i></button>
                        <button role="button" aria-label="Next" class="glider-next" id=""><i class="fa fa-chevron-right"></i></button>
                        <div class="dots glider-dots"></div>

                </div>
        </div>
        {% endif %}

{% endfor %}


{% for categorie in categorieDanse %}
        {% if categorie.spectacles is not empty %}

        <!----------Danse glider2------------------------------------------------------->
        <div class="spectacle mt-5">
                <h3 class="mb-4 text-secondary">{{ categorie }}</h3>
                <div data-name="" class="glider-contain multiple">
                        <div class="glider glider2" id="">


                                {% for spectacle in categorie.spectacles %}
                                        <div class="box-glider">
                                                <div class="gradient-border-bottom">
                                                        <div class="gradient-border">
                                                                <a href="{{ path('app_spectacle_singlespectacle', {'id' : spectacle.id }) }}" class="box-glider-a">
                                                                        <img class="img-container box-glider-img img-fluid" src="{{ asset('images/spectacles/'~ spectacle.image1) }}" alt="">
                                                                        <h6 class="titre-bloc-spectacle">{{ spectacle.titre }}</h6>
                                                                        <p>{{ spectacle.nomCie }}</p>
                                                                </a>
                                                        </div>
                                                </div>
                                        </div>
                                {% endfor %}


                        </div>

                        <button role="button" aria-label="Previous" class="glider-prev" id=""><i class="fa fa-chevron-left"></i></button>
                        <button role="button" aria-label="Next" class="glider-next" id=""><i class="fa fa-chevron-right"></i></button>
                        <div class="dots glider-dots"></div>

                </div>
        </div>
        {% endif %}
{% endfor %}


{% for categorie in categorieMusique %}
        {% if categorie.spectacles is not empty %}
<!----------Musique glider3------------------------------------------------------->
        <div class="spectacle persp mt-5">
                <h3 class="mb-4 text-secondary">{{ categorie }}</h3>
                <div data-name="Perspective View" class="glider-contain multiple">
                        <div class="glider glider-persp glider3" id="">


                                {% for spectacle in categorie.spectacles %}
                                        <div class="box-glider">
                                                <div class="gradient-border-bottom">
                                                        <div class="gradient-border">
                                                                <a href="{{ path('app_spectacle_singlespectacle', {'id' : spectacle.id }) }}" class="box-glider-a">
                                                                        <img class="img-container box-glider-img img-fluid" src="{{ asset('images/spectacles/'~ spectacle.image1) }}" alt="">
                                                                        <h6 class="titre-bloc-spectacle">{{ spectacle.titre }}</h6>
                                                                        <p>{{ spectacle.nomCie }}</p>
                                                                </a>
                                                        </div>
                                                </div>
                                        </div>
                                {% endfor %}
                        </div>

                        <button role="button" aria-label="Previous" class="glider-prev" id=""><i class="fa fa-chevron-left"></i></button>
                        <button role="button" aria-label="Next" class="glider-next" id=""><i class="fa fa-chevron-right"></i></button>
                        <div class="dots glider-dots"></div>

                </div>
        </div>
        {% endif %}

{% endfor %}



{% if autres is not empty %}
                        <!----------autre glider5------------------------------------------------------->
                        <div class="spectacle persp mt-5">
                                <h3 class="mb-4 text-secondary">Cirque - Mime - Performance</h3>
                                <div data-name="Perspective View" class="glider-contain multiple">
                                        <div class="glider glider-persp glider5" id="">


                                                {% for autre in autres %}
                                                        <div class="box-glider">
                                                                <div class="gradient-border-bottom">
                                                                        <div class="gradient-border">
                                                                                <a href="{{ path('app_spectacle_singlespectacle', {'id' : autre.id }) }}" class="box-glider-a">
                                                                                        <img class="img-container box-glider-img img-fluid" src="{{ asset('images/spectacles/'~ autre.image1) }}" alt="">
                                                                                        <h6 class="titre-bloc-spectacle">{{ autre.titre }}</h6>
                                                                                        <p>{{ autre.titre }}</p>
                                                                                </a>
                                                                        </div>
                                                                </div>
                                                        </div>
                                                {% endfor %}
                                        </div>

                                        <button role="button" aria-label="Previous" class="glider-prev" id=""><i class="fa fa-chevron-left"></i></button>
                                        <button role="button" aria-label="Next" class="glider-next" id=""><i class="fa fa-chevron-right"></i></button>
                                        <div class="dots glider-dots"></div>

                                </div>
                        </div>
                {% endif %}








       </div>






</div>






{% endblock %}

{% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('lib/Glider.js-master/glider.js') }}"></script>
        <script src="{{ asset('js/spectacle.js') }}"></script>
{% endblock %}
