{% extends 'base.html.twig' %}

{% block title %}Derviche Diffusion | Nos Spectacles{% endblock %}

{% block stylesheets %}
        {{ parent() }}

        <link rel="stylesheet" href="{{ asset('lib/Glider.js-master/glider.css') }}">
        <link rel="stylesheet" href="{{ asset('css/spectacle.css') }}">

{% endblock %}

{% block body %}

        <div class="container hauteurMin ">
<h1>Nos Spectacles</h1>
                <div class="glider-contain">
                        <div class="glider">
                                <div><img src="{{ asset('images/thumbs/ado_thumbs.jpg') }}" alt=""></div>
                                <div><img src="{{ asset('images/thumbs/jeun_public_thumbs.jpg') }}" alt=""></div>
                                <div><img src="{{ asset('images/thumbs/jeun_public_music_thumbs.jpg') }}" alt=""></div>
                                <div><img src="{{ asset('images/thumbs/cirque_thumbs.jpg') }}" alt=""></div>
                                <div><img src="{{ asset('images/thumbs/danse_thumbs.jpg') }}" alt=""></div>
                                <div><img src="{{ asset('images/thumbs/jeun_public_theatre_danse_thumbs.jpg') }}" alt=""></div>
                        </div>

                        <button role="button" aria-label="Previous" class="glider-prev">«</button>
                        <button role="button" aria-label="Next" class="glider-next">»</button>
                        <div role="tablist" class="dots"></div>
                </div>

        </div>

{% endblock %}

{% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('lib/Glider.js-master/glider.js') }}"></script>
        <script src="{{ asset('js/spectacle.js') }}"></script>
{% endblock %}
