{% extends 'base.html.twig' %}

{% block title %}Admin | Spectacles{% endblock %}

{% block body %}
    <div class="container hauteurMin">

        <h1 class="mt-5">Gestion des Spectacles</h1>

        <a class="btn btn-outline-info mt-3" href="{{ path('app_admin_spectacles_edit') }}">Ajouter un spectacle</a>
        <a href="#" class="btn btn-outline-info btn-recherche mt-3">Rechercher</a>
        <a href="{{ path('app_admin_spectacles_index') }}" class="btn btn-outline-info mt-3">Tous les spectacles</a>

        <div class="card bg-light mb-3 rechercheSpectacle mt-4">
            <div class="card-body">
                {{ form_start(search_form) }}
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(search_form.titre) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(search_form.nom_cie) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(search_form.categorie) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(search_form.sous_categorie) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(search_form.spectateur) }}
                    </div>
                    <div class="col-md-3">
                        {{ form_row(search_form.pays) }}
                    </div>
                    <div class="col-md-3">
                        {{ form_row(search_form.departement) }}

                    </div>
                </div>
                <div class="text-right">
                    <button class="btn btn-outline-info mt-4 btn-sm" type="submit">Rechercher</button>
                </div>

                {{ form_end(search_form)}}

            </div>
        </div>






        <table class="table table-bordered mt-5">
            <tr>
                <th class="text-center">Titre du spectacle</th>
                <th class="text-center">Nom de la cie</th>
                <th class="text-center">Catégorie</th>
                <th class="text-center">Sous-Catégorie</th>
                <th class="text-center">Spectateur</th>
                <th class="text-center" width="280px">Photos</th>
                <th class="text-center" width="180px">Actions</th>
            </tr>
            {% for spectacle in spectacles  %}
                <tr>
                    <td>{{ spectacle.titre }}</td>
                    <td>{{ spectacle.nomCie }}</td>
                    <td>{% for categorie in spectacle.categorie %}
                            {{ categorie }}<br>
                        {% endfor %}
                    </td>

                    <td>
                    {% if spectacle.sousCategorie is not empty %}
                        {{ spectacle.sousCategorie.type }}
                    {% endif %}
                    </td>

                    <td>{{ spectacle.spectateur.type }}</td>

                    <td>
                        
                            <div>
                                {% if spectacle.image1 is not empty %}
                                    <img src="{{ asset('images/spectacles/' ~ spectacle.image1) }}" width="80px">
                                {% endif %}
                                {% if spectacle.image2 is not empty %}
                                    <img src="{{ asset('images/spectacles/' ~ spectacle.image2) }}" width="80px"> 
                                {% endif %}
                                {% if spectacle.image3 is not empty %}
                                    <img src="{{ asset('images/spectacles/' ~ spectacle.image3) }}" width="80px">
                                {% endif %}

                            </div>
                        
                    </td>
                    <td class="text-center">
                        <a href="{{ path('app_admin_spectacles_edit', {'id': spectacle.id}) }}"
                           class="btn btn-outline-info my-2">
                            <i class="fas fa-edit"></i>
                        </a>

                        <a href="{{ path('app_spectacle_singlespectacle',{'id' : spectacle.id }) }}" class="btn btn-outline-secondary btn-article-content"><i class="fas fa-eye"></i>
                        </a>

                        <a href="{{ path('app_admin_spectacles_delete', {'id': spectacle.id}) }}"
                           class="btn btn-outline-danger btn-delete my-2">
                            <i class="fas fa-trash-alt"></i>
                        </a>

                        <a href="{{ path('app_admin_spectacles_ajaxcontent', {'id': spectacle.id}) }}" class="btn btn-outline-info btn-article-content-ajax my-2">
                            Aperçu
                        </a>
                    </td>
                </tr>
            {% endfor %}




        </table>

    </div>


    {# modal aperçu du contenu #}
    <div class="modal" tabindex="-1" role="dialog" id="modal-article-content">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Aperçu</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/spectacle.js') }}"></script>
    <script src="{{ asset('js/modal.js') }}"></script>
{% endblock %}