{% extends 'base.html.twig' %}

{% block body %}
    <h1>Edition équipe</h1>

    {{ form_start(form) }}

    {{ form_row(form.nom) }}
    {{ form_row(form.prenom) }}
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword) }}
    {{ form_row(form.statut) }}


    <div class="text-right">
        <button type="submit" class="btn btn-primary">
            Enregistrer
        </button>
        <a href="{{ path('app_admin_equipe_index') }}"
           class="btn btn-outline-secondary">
            Retour
        </a>
    </div>

    {{ form_end(form) }}
{% endblock %}

