{% extends 'base.html.twig' %}

{% block body %}
    <h1>Gestion équipe</h1>

    <a href="{{ path('app_admin_equipe_edit') }}"
       class="btn btn-outline-info mb-3 btn-ajout">
        Ajouter un(e) employé(e)
    </a>

    <table class="table">
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Email</th>
            <th>Statut</th>
            <th width="250px"></th>
        </tr>
        {% for personne in personnes %}
            <tr>
                <td>{{ personne.id }}</td>
                <td>{{ personne.nom  }}</td>
                <td>{{ personne.prenom }}</td>
                <td>{{ personne.email }}</td>
                <td>{{ personne.statut }}</td>
                <td>
                    <a href="{{ path('app_admin_equipe_edit', {'id': personne.id}) }}"
                       class="btn btn-primary">
                        Modifier
                    </a>
                    <a href="{{ path('app_admin_equipe_delete', {'id': personne.id}) }}"
                       class="btn btn-danger btn-delete">
                        Supprimer
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>

    {# modal ajout personne
    <div class="modal" tabindex="-1" role="dialog" id="modal-ajout-personne">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Ajout d'un(e) employé(e)</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
    #}

    {# modal confirmation suppression #}
    <div class="modal" tabindex="-1" role="dialog" id="modal-confirm-delete">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirmation suppression&nbsp;?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-confirm-delete">Oui</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{#
{% block javascripts %}
    <script src="{{ asset('js/equipe.js') }}"></script>
{% endblock %}
#}